.zoom {
  transition: transform .4s; /* Animation */
  margin: 25px;
  color: white;
  font-size:2.5em;;
}



.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}





/* VIDEO */
.wrapper {
  --font-size: 100px;
  --color: white;
  --color-invert: #ffffff;
  --clip-path: circle(20px at left);
  --clip-path-hover: circle(25px at left);
  --clip-path-clicked: circle(150vw at left);
  --duration: .6s;
  --timing-function: ease;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.wrapper .video {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
  -webkit-clip-path: var(--clip-path);
          clip-path: var(--clip-path);
  -webkit-transition: -webkit-clip-path var(--duration) var(--timing-function);
  transition: -webkit-clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function);
}

.wrapper .video video {
  position: absolute;
  background-image: none;
  top: 50%;
  left: 50%;

  min-width: 1000px;
  min-height: 300px;
  width: 0;
  height: 0;

  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.wrapper .text {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .2px;
  opacity: var(--opacity, 1);
  -webkit-transition: opacity 0.3s var(--timing-function) 0.2s;
  transition: opacity 0.3s var(--timing-function) 0.2s;
}

.wrapper .text::before, .wrapper .text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1px;
  right: 25px;
  height: 0;
}

.wrapper .text::before {
  -webkit-box-shadow: 26px 0 0 1px var(--color);
          box-shadow: 26px 0 0 1px var(--color);
  right: var(--r, 100%);
  opacity: var(--opacity, 0);
  -webkit-transition: right .5s ease-in, opacity .1s linear;
  transition: right .5s ease-in, opacity .1s linear;
}

.wrapper .text::after {
  -webkit-box-shadow: 26px 0 0 1px var(--color-invert);
          box-shadow: 26px 0 0 1px var(--color-invert);
  -webkit-clip-path: var(--clip-path);
          clip-path: var(--clip-path);
  -webkit-transition: -webkit-clip-path var(--duration) var(--timing-function);
  transition: -webkit-clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function);
}

.wrapper .text > span::before, .wrapper .text > span::after {
  content: attr(data-text);
  padding-left: 26px;
}

.wrapper .text > span::before {
  color: var(--color);
}

.wrapper .text > span::after {
  color: var(--color-invert);
  -webkit-clip-path: var(--clip-path);
          clip-path: var(--clip-path);
  -webkit-transition: -webkit-clip-path var(--duration) var(--timing-function);
  transition: -webkit-clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function);
  transition: clip-path var(--duration) var(--timing-function), -webkit-clip-path var(--duration) var(--timing-function);
  position: absolute;
  left: 0;
}

.wrapper input {
  width: 250px;
  height: 50px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 0px;
  z-index: 3;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.wrapper input:focus {
  outline: 0;
}

.wrapper input:hover ~ .video {
  -webkit-clip-path: var(--clip-path-hover);
          clip-path: var(--clip-path-hover);
}

.wrapper input:hover ~ .text::before {
  --r: 25px;
  --opacity: 1;
}

.wrapper input:hover ~ .text::after {
  -webkit-clip-path: var(--clip-path-hover);
          clip-path: var(--clip-path-hover);
}

.wrapper input:hover ~ .text > span::after {
  -webkit-clip-path: var(--clip-path-hover);
          clip-path: var(--clip-path-hover);
}

.wrapper input:checked {
  border-radius: 0%;
}

.wrapper input:checked ~ .video {
  -webkit-clip-path: var(--clip-path-clicked);
          clip-path: var(--clip-path-clicked);
        }

.wrapper input:checked ~ .text {
  --opacity: 0;
  -webkit-transition: opacity 0.3s var(--timing-function);
  transition: opacity 0.3s var(--timing-function);
}

.wrapper input:checked ~ .text::after {
  -webkit-clip-path: var(--clip-path-clicked);
          clip-path: var(--clip-path-clicked);
}

.wrapper input:checked ~ .text > span::after {
  -webkit-clip-path: var(--clip-path-clicked);
          clip-path: var(--clip-path-clicked);
}

body .socials > a {
  display: block;
  width: 30px;
  opacity: .4;
  -webkit-transform: scale(var(--scale, 0.8));
          transform: scale(var(--scale, 0.8));
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
  transition: -webkit-transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
  transition: transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
  transition: transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91), -webkit-transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
}

body .socials > a:hover {
  --scale: 1;
}
/*# sourceMappingURL=a.css.map */







































button {
  font-family: 'Bungee Hairline';
  letter-spacing: 1px;
  background: none;
  color: white;
  position: relative;
  outline: none;
  border: none;
  height: 50px;
  width: 190px;
  font-size: 20px;
  z-index: 2;
  -webkit-transition: .01s .23s ease-out all;
  transition: .01s .23s ease-out all;
  overflow: hidden;
}

button:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: none;
  z-index: -1;
  -webkit-transition: .3s ease-in all;
  transition: .3s ease-in all;
}

button:after {
  content: "";
  position: absolute;
  left: -5%;
  top: 5%;
  height: 10%;
  width: 5%;
  background: white;
  z-index: -1;
  -webkit-transition: .4s .02s ease-in all;
  transition: .4s .02s ease-in all;
}

button:hover {
  cursor: pointer;
  color: transparent;
}

button:hover:before {
  left: 100%;
  width: 25%;
}

button:hover:after {
  left: 100%;
  width: 70%;
}

button:hover .icon-right.after:after {
  left: -80px;
  color: white;
  -webkit-transition: .2s .2s ease all;
  transition: .2s .2s ease all;
}

button:hover .icon-right.after:before {
  left: -104px;
  top: 14px;
  opacity: 1;
  color: white;
}

.icon-right {
  position: absolute;
  top: 0;
  right: 0;
}

.icon-right:after {
  font-family: "FontAwesome";
  content: '\2192';
  font-size: 25px;
  display: inline-block;
  position: relative;
  top: 15px;
  -webkit-transform: translate3D(0, -50%, 0);
          transform: translate3D(0, -50%, 0);
}

.icon-right.after:after {
  left: -250px;
  color: black;
  -webkit-transition: .15s .25s ease left, .10s .05s ease color;
  transition: .15s .25s ease left, .5s .05s ease color;
}








body {
  font-family: 'Bungee Hairline';
  font-size: 12px;
  color: white;
}

.container__image {
  
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 180px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;  
  border-radius: 50%;
  background-image:url(https://i.imgur.com/4MBMlOx.jpg);
  background-size: cover;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  z-index: 2;
}

.container__image:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: inherit;
  background-position: bottom;
  -webkit-filter: blur(40px) saturate(0%);
          filter: blur(40px) saturate(0%);
  -webkit-transform: scaleX(0.4);
          transform: scaleX(0.4);
  -webkit-transition: ease-in-out .4s;
  transition: ease-in-out .4s;
  border-radius: 120px;
  -webkit-transform-origin: right;
          transform-origin: right;
  opacity: 0;
  z-index: -1;
}

.container__image .container__info {
  position: relative;
  line-height: 1.8;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  opacity: 0;
}

.container__image .container__location {
  -webkit-transition-delay: .15s;
          transition-delay: .15s;
}

.container__image:hover {
  border-radius: 0;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(9, 55, 53, 0.08), 0px 16px 24px rgba(9, 55, 53, 0.1), 0px 24px 32px rgba(9, 55, 53, 0.14);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(9, 55, 53, 0.08), 0px 16px 24px rgba(9, 55, 53, 0.1), 0px 24px 32px rgba(9, 55, 53, 0.14);
}

.container__image:hover:before {
  width: 100%;
  opacity: 0.1;
  -webkit-filter: blur(3px) saturate(100%);
          filter: blur(3px) saturate(100%);
  -webkit-transform: scale(2) translate3d(-18%, 0px, 0px);
          transform: scale(2) translate3d(-18%, 0px, 0px);
}

.container__image:hover .container__info {
  -webkit-transform: translate3d(-60%, 0px, 0px);
          transform: translate3d(-60%, 0px, 0px);
  opacity: 1;
}

.link {
  border-bottom: 1px solid transparent;
  color: #06C0A8;
  text-decoration: none;
  -webkit-transition: ease-in .13s;
  transition: ease-in .13s;
}

.link:hover {
  background-color: #06C0A8;
  color: #ffffff;
}
/*# sourceMappingURL=a.css.map */






















body{
margin:0;
overflow-x:hidden;
}

.footer{
background:#000;
opacity: 0.8;
padding:30px 0px;
font-family: 'Bungee Hairline';
text-align:center;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color: white;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:gray;
transition:0.5s;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}